:root {
  --bg-color: white;
  --text-color: black;
  --hover-color: #555;
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("fonts/LibreBaskerville-Italic.ttf") format("truetype");
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: LibreBaskerville, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  width: 70%;
  max-width: 80rem;
}

@media (max-width: 70rem) {
  body {
    width: 100%;
    padding: 0 1rem;
  }
}

a {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--hover-color);
}


/* Header */

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
  gap: 0.5rem;
  padding: 0;
}

.site-title {
  padding: 0.5rem 1rem;
  font-style: italic;
  font-weight: bold;
  background-color: var(--text-color);
  color: var(--bg-color);
  white-space: nowrap;
}

.site-title h1 {
  margin: 0;
}

.top-matter {
  text-align: right;
  font-style: italic;
}

.updated-daily {
  visibility: visible;
  height: auto;
}

@media (max-width: 40rem) {
  .header {
    grid-template-columns: auto;
    justify-items: center;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .top-matter {
    text-align: left;
  }

  .updated-daily {
    visibility: hidden;
    height: 0;
  }
}


/* Content */

main {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto;
  gap: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 40rem) {
  main {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
}

.section-heading {
  margin: 0.5rem 0;
}


/* Parliament */

ul.bill-list {
  margin: 0;
  list-style: none;
  padding: 0;
  border-top: 1px solid var(--text-color);
}

@media (max-width: 40rem) {
  ul.bill-list {
    max-height: 30rem;
    overflow: auto;
  }
}

li.bill {
  margin: 1rem 0;
}

.bill-title {
  margin: 0;
  margin-bottom: 0.25rem;
}

.bill-origin::before {
  content: "Origin: ";
  font-weight: bold;
}

.bill-status::before {
  content: "Status: ";
  font-weight: bold;
}

progress[value].bill-progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  position: relative;
  top: -5px;
}

progress[value].bill-progress::-moz-progress-bar {
  background-color: var(--text-color);
  border-radius: 0;
}

progress[value].bill-progress::-webkit-progress-bar {
  background-color: var(--bg-color);
  border: 1px solid lightgrey;
  height: 7px;
}

progress[value].bill-progress::-webkit-progress-value {
  background-color: var(--text-color);
}


/* News */

ul.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--text-color);
}

.news-group {
  display: grid;
  grid-template-columns: minmax(0, 3fr) 9fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 1rem;
}

ul.news-list li.news-group {
  border-bottom: 1px solid lightgrey;
}

.news-org-name {
  margin: 0;
  text-align: center;
  overflow-wrap: break-word;
}

@media (max-width: 40rem) {
  .news-group {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0;
    padding-top: 1rem;
  }

  .news-org-name {
    text-align: left;
  }
}

ul.news-article-list {
  max-height: 14rem;
  overflow: auto;
  list-style: square;
}

li.news-article {
  margin: 0.5rem 0;
}


/* Footer */

#footer {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: auto;
  padding: 1rem 0;
  border-top: 1px solid var(--text-color);
  gap: 1rem;
}

#footer .footer-section:last-child {
  text-align: right;
}

@media (max-width: 70rem) {
  #footer {
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: right;
  }
}
