ul.bill-list {
  list-style: none;
  padding: 0;
}

li.bill {
  margin: 1rem 0;
}

.bill-title {
  margin: 0;
}

.bill-origin::before {
  content: "Origin: ";
  font-weight: bold;
}

.bill-status::before {
  content: "Status: ";
  font-weight: bold;
}
