<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Today in the UK</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="stylesheet" href="index.css" />
  <script src="script.js"></script>
  <script data-goatcounter="https://todayintheuk.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>

{% set MAX_BILLS, MAX_ARTICLES = 20, 10 %}

<body>
  <div class="header">
    <div class="site-title">
      <h1>Today in the UK</h1>
    </div>
    <div class="top-matter">
      <div class="updated-daily">Updated daily</div>
      <div>Compiled at {{ compile_dt.time().strftime('%H:%M') }} on {{ compile_dt.date().strftime('%d %B %Y') }}</div>
    </div>
  </div>
  <main>
    <section id="bills">
      <h2 class="section-heading">Parliament</h2>
      <ul class="bill-list">
        {% for bill in bills[:MAX_BILLS] %}
        <li class="bill">
          <h4 class="bill-title"><a href="{{ bill.link }}" target="_blank">{{ bill.title }}</a></h4>
          <div class="bill-origin">{{ bill.originating_house }}</div>
          {% if bill.act %}
          <div class="bill-status">New act of Parliament</div>
          {% elif bill.defeated %}
          <div class="bill-status">Bill defeated</div>
          {% else %}
          <div class="bill-status">
            {{ bill.current_stage.description }}
            {% if bill.current_stage.house != 'Unassigned' %}
            in {{ bill.current_stage.house }}
            {% endif %}
          </div>
          {% endif %}
          <div>
            Updated at {{ bill.updated_timestamp.strftime('%Y-%m-%d %H:%M') }}
          </div>
          {% if not bill.defeated and not bill.act %}
          {% set progress = bill.progress() %}
          {% if progress == -1 %}
          <div>
            Bill progress hard to quantify. <a href="{{ bill.link }}" target="_blank">Inspect.</a>
          </div>
          {% else %}
          <progress class="bill-progress" value="{{ progress }}" max="100">{{ progress }}%</progress>
          {% endif %}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% if bills|length == 0 %}
      <p>No recent activity.</p>
      {% endif %}
      <button class="show-more"></button>
    </section>
    <section id="news">
      <h2 class="section-heading">News</h2>
      <ul class="news-list">
        {% for org in news.values() %}
        <li class="news-group">
          <h3 class="news-org-name">{{ org.name }}</h3>
          {% if 'data' in org.keys() %}
          <ul class="news-article-list">
            {% for article in org['data']['entries'][:MAX_ARTICLES] %}
            <li class="news-article">
              <a href="{{ article.link }}" target="_blank">{{ article.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% if org['data']['entries']|length == 0 %}
          <p>No news. Something might have broken.</p>
          {% endif %}
          <button class="show-more"></button>
          {% elif 'error' in org.keys() %}
          <p>{{ org['error'] }}</p>
          {% else %}
          <p>An error occurred.</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </section>
  </main>
  <div id="footer">
    <div class="footer-section">
      Bills and acts are the {{ MAX_BILLS }} most recently updated in the last 7 days from <a
        href="https://bills-api.parliament.uk/index.html" target="_blank">parliament's API</a>.
      <br />
      News articles are the first {{ MAX_ARTICLES }} on each news organisation's UK-specific RSS/Atom feed.
    </div>
    <div class="footer-section">
      Created by <a href="https://jnthn.me/card" target="_blank">Jonathan Rudman</a>.
    </div>
  </div>
</body>

</html>